{% extends 'base.html' %}
     
{% block title %} Change Password {% endblock %}

{% block content %}
<head>
    <style>
        body {
            background-color: rgb(215, 232, 247)
        }
        h1 {
            color:rgb(44, 84, 117);
            font-family:Bookman, URW Bookman L, serif ;
            }
        p {
            color:rgb(7, 20, 63);
            }
      </style>
</head>

<div style="text-transform: uppercase;"><center><h1>Change Password</h1></center></div><hr><br><br>

<div class="form-group">
    <form method="POST">
       
        {% csrf_token %}
        {{ form.as_p }}
   <br>
        <button class="btn btn-dark">Change Password</button>

</div>

<br><br>


 
{% endblock %}