{% extends 'base.html' %}
     
{% block title %} Edit Profile {% endblock %}

{% block content %}

<head>
    <style>
        body {
            background-color: rgb(215, 232, 247)
        }
        h1 {
            color:rgb(44, 84, 117);
            font-family:Bookman, URW Bookman L, serif ;
            }
        p {
            color:rgb(7, 20, 63);
            }
        small {
            font-style: italic
        }
      </style>
</head>
<h1>Edit Settings </h1><br><br>

{{ user.profile.bio }} 

<br><br>

<div class="form-group">
    <form method="POST">

        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark">Update</button>
</div>

{% endblock %}