{% extends 'base.html' %}
     
{% block title %} Login {% endblock %}

{% block content %}

<head>
  <style>
      body {
          background-color: rgb(215, 232, 247)
      }
      h1 {
          color:rgb(44, 84, 117);
          font-family:Bookman, URW Bookman L, serif ;
          }
      p {
          color:rgb(7, 20, 63);
          }
    </style>
</head>
<h1>Login...</h1><br><br>

<div class="form-group">
    <form method="POST">

        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>

          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
   
        <button class="btn btn-dark">Login</button>
</div><br>
<p>Don't have an account ?</p>
<p><b>Register <a href="{% url 'register' %}">here </a>
{% endblock %}