{% extends 'base.html' %}
     
{% block title %} Create a new post ! {% endblock %}

{% block content %}
<head>
    <style>
        body {
            background-color: rgb(215, 232, 247)
        }
        h1 {
            color:rgb(44, 84, 117);
            font-family:Bookman, URW Bookman L, serif ;
            }
        p {
            color:rgb(7, 20, 63);
            }
      </style>
</head>

<div style="text-transform: uppercase;"><center><h1>Add Post</h1></center></div><hr><br><br>
{% if user.is_authenticated %}
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-dark">Post</button>
</div>

<script>
    var name = "{{ user.id }}";
    document.getElementById("elder").value = name;
</script>


{% else %}
<p><b>Register <a href="{% url 'register' %}">here </a>to add a post !<br>
Already have an account ? Log In <a  href="{% url 'login' %}"> here </a></b></p>

{% endif %}
{% endblock %}