{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.title_tag }}{% endblock %}
{% block content %}

<div class="form-group">
<h1>{{ post.title }} - {{ post.author.id}}</h1>
<small>Writted by: {{ post.author.first_name}}
    {{ post.author.last_name}} - {{ post.post_date }}<br>
    

    <div class="card mb-3" >
        <div class="row no-gutters">
          <div class="col-md-2">
            {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">

            {% else %}
            <img src="{% static 'theblog/images/profilepic.png' %}" class="card-img">
            {% endif %}
          </div>
          <div class="col-md-10">
            <div class="card-body" >
              <h5 class="card-title"  > <b>{{ post.author.first_name}}
                {{ post.author.last_name}}</b> </h5>
                <p claqq="small text-muted">

                    <a href="{% url 'show_profile_page' post.author.profile.id %}"  >Profile Page | </a>

                    {% if post.author.profile.linkedin_url %}
                        <a href="{{ post.author.profile.linkedin_url }}" target="_blank">LinkedIn | </a>
                    {% endif %}

                    {% if post.author.profile.facebook_url %}
                        <a href="{{ post.author.profile.facebook_url }}" target="_blank">Facebook | </a>
                    {% endif %}

                    {% if post.author.profile.instagram_url %}
                        <a href="{{ post.author.profile.instagram_url }}" target="_blank">Instagram | </a>
                    {% endif %}

                    {% if post.author.profile.github_url %}
                        <a href="{{ post.author.profile.github_url }}" target="_blank">Github </a> </p>
                    {% endif %}

              <p class="card-text">{{ post.author.profile.bio }}</p>
              </p>
            </div>
          </div>
        </div>
      </div>
    <hr>

    <!-- <img src="{{ post.author.profile.profile_pic.url }}" width=150 height=150 class="rounded-circle"> -->
   
<br>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
     <a href="{% url 'update_post' post.pk %}">Edit  </a><br>
    <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
    {% endif %}
</small><br><hr><br>

{% if post.header_image %}
    <img src="{{ post.header_image.url }}" width=300 >
{% endif %}


<br><br>
{{ post.body | safe }}
</div>

<br><br>


<br>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>

    {% endif %}

{% endif %}

    - {{ total_likes }} Like(s)
    <br><br>




        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                    <h2>Comments</h2>

                {% if not post.comments.all %}
                    No comments <br>
                    <a href="{% url 'add_comment' post.pk %}">Add Comments</a>

                {% else %}<br>

                        {% for comment in post.comments.all %}
                            <b>{{ comment.name }}</b> - <small>{{ comment.date_added }}</small><br>
                            {{ comment.body | safe  }}<br>
                            
                        {% endfor %}
                    <a href="{% url 'add_comment' post.pk %}">Add comment</a><br>
                {% endif %}
            {% endif %}
        {% endif %}

    <br><br>
    <a href="{% url 'home' %}" class="btn btn-dark">Back home</a>
</form>


{% endblock %} 