{% extends 'base.html' %}
     
{% block content %}


<h1>Posts</h1>

<ul>

<!-- {% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">
        {{ post.title }}</a> 
        - <a href="{% url 'category' post.category|slugify %}">
            <b>{{ post.category }}</b></a>
        - {{ post.author.first_name }} 
        {{ post.author.last_name }}
        - {{ post.post_date}}
         <small>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <a href="{% url 'update_post' post.pk %}">Edit</a>
                    <a href="{% url 'delete_post' post.pk %}">Delete</a>
                {% endif %}
            {% endif %}
            </small> <br>
            {{ post.snippets }}
     {{ post.body | slice:":150" | safe  }} 
</li>
{% endfor %}
</ul> -->


{% for post in object_list %}
<div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.snippets }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Category : <a href="{% url 'category' post.category|slugify %}">
                <b>{{ post.category }}</b></a></li>
              <li class="list-group-item">Author : {{ post.author.first_name }} 
                {{ post.author.last_name }}</li>
              <li class="list-group-item"><a href="{% url 'article-detail' post.pk %}">Read More</a></li>
            </ul>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <div class="card-body">
                    <a href="{% url 'update_post' post.pk %}" class="card-link">Edit</a>
                    <a href="{% url 'delete_post' post.pk %}" class="card-link">Delete</a>
                    </div>
                {% endif %}
            {% endif %}
          </div></div>
      </div>
      <!-- <div class="col-6">
        <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div></div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div></div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light"><div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div></div>
      </div> -->
    </div>
  </div>
{% endfor %}

{% endblock %}