{% extends 'base.html' %}
{% block title %} Edit Post ! {% endblock %}
{% block content %}
<head>
    <style>
        body {
            background-color: rgb(215, 232, 247)
        }
        h1 {
            color:rgb(44, 84, 117);
            font-family:Bookman, URW Bookman L, serif ;
            }
        p {
            color:rgb(7, 20, 63);
            }
      </style>
</head>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <div style="text-transform: uppercase;"><center><h1>Edit Post</h1></center></div><hr><br><br>

        <div class="form-group">
            <table>
            <form method="POST">

                {% csrf_token %}
                {{ form.media }}
                {{ form.as_table }}
            </table>
            <button class="btn btn-dark">Update</button>
        </div>
    {% else %}
        You are not allowed here!
    {% endif %}


{% else %} 
<p><b>Register <a href="{% url 'register' %}">here </a>to edit a post !<br>
Already have an account ? Log In <a href="{% url 'login' %}">here </a> </b></p>
{% endif %}

{% endblock %}